
nav{
    width: 80%;
    margin: 0 auto;
}

div#mainnav{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-left: solid 3px;
    border-color: rgb(43, 43, 43);
    background-color: rgba(30, 30, 30, 0.5);
    color: white;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: space-around;
    position: relative;
} 


#mainnav{
    height: 100%;
}

#nav-toggle{
    display: none;
}

div#navlinks{
    flex-basis: 45%;
    height: 100%;
} 

 #navlinks-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.nav-header{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    justify-content: space-between;
}



/*** RESPONSIVE ***/

@media screen and (max-width: 992px){



   /*  #navlinks-list{
        position: absolute;
        top : 50px;
        height: 100vh;
        width: 50%;
        background-color: blue;
    }  */

}

