/*** GENERAL ***/

html{
    font-family: 'Oxygen', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

body{
    position: relative;
    overflow-x: hidden;
}

section{
    position: relative;
    padding: 50px 0;
    box-shadow: 2px 2px 5px rgba(172, 172, 172, 0.6);
}

.hidden{
    display: none;
}

.test{
    border: 1px solid red;
}

.test2{
    border: 1px solid blue;
}
.test3{
    border: 1px solid rgb(0, 145, 0);
}


a:hover{
    color: rgb(255, 101, 101);
}

.underline {
    height: 2px;
    width: 9em;
    background: rgb(255, 189, 66);
    margin: 0 auto;
}

.underline2 {
    height: 2px;
    width: 9em;
    background: rgb(255, 172, 117);
    margin: 0 auto;
}
.underline3 {
    height: 2px;
    width: 9em;
    background: rgb(255, 142, 142);
    margin: 0 auto;
}
.underline4 {
    height: 2px;
    width: 9em;
    background: rgb(255, 125, 85);
    margin: 0 auto;
}




/*** HEADER ***/


header{
    position: relative;
    height: 100vh;
    min-height: 750px;
    width: 100%;
    background: rgb(255,193,234);
    background: linear-gradient(130deg, rgba(255,193,234,1) 0%, rgba(255,220,149,1) 100%);
    background-size: cover;
    padding: 0 20px 20px 20px;
    text-shadow: 2px 2px 7px rgba(112, 112, 112, 0.4);
}


#header-div{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-part > *{
    margin-bottom: 7%;
}

.hireme-btn-container{
    height: 50px;
    width: 150px;
    background-color: rgba(30, 30, 30, 0.5);
    color: rgb(255, 255, 255);
    position: relative;
    border: 2px solid rgb(255, 255, 255) ;
}

.hireme-btn-container:hover{
    bottom: 4px;
    right: 4px;
    box-shadow: 4px 4px #ED5252;
}

.hireme-btn-container p{  
    font-size: 1.3em;
    line-height: 50px;
    font-weight: bold;
}

#hireme-btn{
    display: block;
    width: 100%;
    height: 100%;
    text-shadow: none;
}


#photo-div img{
    filter: drop-shadow(3px 3px 4px rgba(43, 43, 43, 0.6));
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: auto;
}

#photo-div{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

h1#header-h1{
    font-size: 7rem;
    width: 100%;
}

p#header-main-desc{
    font-size: 3rem;
}

p#header-second-desc{
    font-size: 1.5rem;
}

.social{
    display: flex;
}
.socials{
    display: flex;
    bottom: 50px;
    right: 50px;
    width: 130px;
    justify-content: space-between;
    margin: 0 auto;
}

.socials div{
    width: 35px;
    height: 35px;
}

.socials div img{
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: relative;
}

.socials div img:hover{
    filter: drop-shadow(3px 3px 5px rgba(43, 43, 43, 0.5));
    right: 2px;
    bottom: 2px;
}

/*** SKILLS ***/

section#skills{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

}

#skills-section-container{
    width: 100%;
}

#skills-section-container > *{
    margin-bottom: 5%;
}


.skill-unit img{
    width: 60%;
    height: auto;
    filter: drop-shadow(3px 3px 5px rgba(43, 43, 43, 0.6));
}

.skill-unit-content{
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.l-skill-unit-content{
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
    position: relative;
}


p.skill-desc, em{
    font-weight: bold;
}

section h1{
    font-size: 4rem;
    margin-bottom: 10px;
    text-align: center;
}

.skills-container{
    width: 100%;
}

.skills-h1-desc{
    margin: 15px;
}

.l-skills-container{
    width: 100%;
}



/*** RESUME ***/

#resume{
    padding: 60px 0;
    background-color: #ffffff;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #f1f1f1 0, #f1f1f1 1px, #ffffff 0, #ffffff 50%);

}



.resume-card{
    width: 90%;
    height: 120px;
    margin: 25px 0;
    padding: 10px 0;
    border: 1px solid lightgrey;
    background: rgb(255,193,234);
    background: linear-gradient(130deg, rgba(255,193,234,1) 0%, rgba(255,220,149,1) 100%);
    position: relative;
}

.resume-card-link-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.resume-card:hover, .resume-work-card:hover{
    bottom: 4px;
    right: 4px;
}

.wagon-training:hover{
    box-shadow: 4px 4px red;
    border-bottom: none;
    border-right: none;
}

.klubschule-training:hover{
    box-shadow: 4px 4px #005CA9;
    border-bottom: none;
    border-right: none;
}
.codecademy-training:hover{
    box-shadow: 4px 4px #204056;
    border-bottom: none;
    border-right: none;
}
.udemy-training:hover{
    box-shadow: 4px 4px #ED5252;
    border-bottom: none;
    border-right: none;
}
.codingame-training:hover{
    box-shadow: 4px 4px #F2BB13;
    border-bottom: none;
    border-right: none;
}
.myetic:hover{
    box-shadow: 4px 4px #221D19;
    border-bottom: none;
    border-right: none;
    cursor: default;
}
.vizivap:hover{
    box-shadow: 4px 4px #FE6900;
    border-bottom: none;
    border-right: none;
    cursor: default;
}



.skill-unit:hover{
    transform: scale(1.05);
    transition-duration: 0.1s;
    z-index: 10;
}

.resume-card-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(255, 255, 255);
    flex-basis: 130px;
}

.resume-card-img-div img{
    width: calc(90% - 20px);
    max-width: max-content;
    height: auto;
    -webkit-filter: drop-shadow(2px 2px 2px #666); 
	filter: drop-shadow(2px 2px 2px #666);
}

.resume-card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 65%;
    margin: 5px;
}

.resume-card-content h4{
    font-weight: bold;
    font-size: 1.2em;
}

p.training-date{
    font-size: 0.9em;
    font-style: italic;
    color: rgb(114, 114, 114);
}


.resume-card-desc{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -10px;
}

.training-div{
    margin: 50px 0 0 0;
}


#resume h2{
    font-size: 2em;
    font-weight: bold;
}

#resume h3{
    font-size: 1.3em;
    font-weight: bold;
}

#work-exp h2{
    margin-bottom: 50px;
}

.workexp-logo-div{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(43, 43, 43, 0.6));
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

.workexp-logo-div img{
    width: 90%;
    height: auto;
}

.myetic .workexp-logo-div img{
    width: 80%;
    height: auto;
}

.workexp-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.workexp-content-div{
    height: 100%;
    width: 70%;
}

.workexp-content-div ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: circle;
}

.workexp-desc{
    width: calc(100% - 25px);
    height: 100%;
    margin-left: 25px;
}

.workexp-desc > *{
    padding-bottom: 7px;
}

.workexp-content-div h4{
    font-size: 1.2em;
    font-weight: bold;
}

#work-exp{
    display: flex;
    flex-direction: column;
}

.resume-work-card{ 
    min-width: 330px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 0;
    position: relative;
    background: rgb(255,193,234);
    background: linear-gradient(130deg, rgba(255,193,234,1) 0%, rgba(255,220,149,1) 100%);
    margin: 70px 0;
    border: 1px solid lightgrey;
    position: relative;
}

/*** CONTACT ***/
#wufoo-zbp36ju1mfl2t9{
    margin: 40px;
}

/*** FOOTER ***/

footer{
    height: 200px;
    background-color: rgb(43, 43, 43);
    color: white;
}

#footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

span.footeryear{
    color: orange;
}


/*** MEDIA QUERIES ***/

@media (min-width: 768px) and (max-width: 1200px){

    header{
        height: auto;
    }
}

    @media screen and (min-width: 1400px){


    .skill-unit-content:hover > .bubble{
        display: block;
        padding: 15px;
        box-shadow: 3px 3px 3px rgba(112, 112, 112, 0.4) ;
        background: rgb(255,193,234);
        background: linear-gradient(130deg, rgb(193, 222, 255) 0%, rgb(255, 174, 169) 100%);
        height: auto;
        width: max-content;
        max-width: 400px;
        position: absolute;
        transition: 1s;
        top: -20px;
        left: 80%;
        color: rgba(43, 43, 43, 1);
        z-index: 100;
        font-size: 1em;
        transition: 1s ease-in;
    }
    
    .skill-unit-content:hover > .bubble-left{
        display: block;
        padding: 15px;
        box-shadow: 3px 3px 3px rgba(112, 112, 112, 0.4) ;
        background: rgb(255,193,234);
        background: linear-gradient(130deg, rgb(193, 222, 255) 0%, rgb(255, 174, 169) 100%);
        height: auto;
        width: max-content;
        max-width: 400px;
        position: absolute;
        transition: 1s;
        top: -20px;
        right: 80%;
        color: rgba(43, 43, 43, 1);
        z-index: 100;
        font-size: 1em;
        transition: 1s ease-in;
    }

}

@media screen and (max-width: 768px){

    p, section ul li{
        font-size: 0.9em;
    }

    header{
        padding: 0 0 40px 0;
        text-align: center;
        height: auto;
    }


    #intro-part{
        display: flex;
        flex-direction: column;
        align-items: center;
  
    }

    #intro-part > *{
        margin-bottom: 10%;
    }

    section h1{
        font-size: 3em;
    }

    h1#header-h1{
        font-size: 5em;
    }

    .resume-card{
        width: 100%;
    }

    .resume-card-img-div{
        width: 15%;
        min-width: 100px;
    }

    .resume-work-card{
        height: auto;
        min-height: 270px;
    }

    .workexp-container{
        height: 80%;
    }

    .left-skills, .right-skills{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 1400px){

    section#skills{
        height: auto;
    }
    .skill-unit{
        margin: 15px;
    }

}

@media screen and (max-width: 350px){

    .workexp-logo-div{
        display: none;
    }

    .resume-work-card{
        box-sizing: border-box;
        width: 100%;
        min-width: auto;
        min-height: 300px;
    }


}




